@import "variables.scss";
@font-face { font-family: "Soletanche";  src: url('../fonts/Soletanche.ttf') format("truetype"); }
@font-face { font-family: "Soletanche-bolf"; font-weight: bold; src: url('../fonts/Soletanche.-bold.otf');}

h1, h2, h3, h4, h3.tittle  {
	font-family: Soletanche;
}
.top-logo { 
	a { 
		background: #fff;
	}
	i {
		color: $base_logo !important;
	}
}

.right_bt span:hover, a.top-indus:hover {
    color: $logo_secundario;
    border: 1px solid $logo_secundario;
}
.top-left ul li a:hover, a.intranet:hover {
	color: $logo_secundario;
}
.current-menu-item > a { 
	color: $logo_secundario !important;
}
.banner-text h3 {
	color: $logo_secundario;
	font-family: Soletanche;
}

a.hvr-rectangle-out {
	background: $logo_secundario;
}

a.hvr-rectangle-out, a.hvr-rectangle-out:hover {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}

.box_content_center {
    background: $logo_primario;
}

/* PAGE */

h3.tittle {
	color: $logo_primario;
}

.services-bottom h3.tittle {
	color: #fff;
}

.view-ninth .mask-1, .view-ninth .mask-2 {
	background: $logo_secundario;
}
.services-bottom-grd-right h4 {
	color: $logo_secundario;
}
/* FOOTER */

.footer { 
	background: $base_logo;
}

.bottomMenu ul li a {
	color: $logo_secundario;
}
.colophon {
	background: $logo_secundario;
}